body{
    background-color: darkseagreen;
    height: 100vh;
    display: flex;
    justify-content: center;
}

div#calc{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52vh;
    border-style: double;
    border-radius: 8.2vh;
    border-width: 2ch;
    border-color: darkolivegreen;
    align-self: center;
}

div#output_screen{
    min-height: 30vh;
    
}

div#keypad{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkolivegreen;
    border-bottom-left-radius: 6vh;
    border-bottom-right-radius: 6vh;
}

div.row{
    display: flex;
    flex-direction: row;
    color: lime;
}

div.key{
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: .5vh;
    margin-bottom: .5vh;
    border-style: solid;
    border-color: darkolivegreen;
}

h2#extra{
    font-size: 2.5294854ch;
}