body{
    background-color: darkseagreen;
    height: 100vh;
    display: flex;
    justify-content: center;
}

div#calc{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52vh;
    border-style: double;
    border-radius: 50px;
    border-width: 2ch;
    border-color: #50554d;
    align-self: center;
}

div#output_screen{
    min-height: 30vh;
    color: lime;
}

div#keypad{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #50554d;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

div.row{
    display: flex;
    flex-direction: row;
    color: lime;
}

div.key{
    max-height: 25vh;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-style: solid;
    border-color: #00ff0050;
    height: 12vh;
    cursor: pointer;
}

h2#extra{
    font-size: 2.3294854ch;
}