div#calc{
    width: 52vh;
}

div#output_screen{
    min-height: 30vh;
    min-width: 52vh;
    max-width: 52vh;
}



div.key{
    max-height: 25vh;
    width: 5.8vh;
    height: 12vh;
}

a#extra{
    font-size: 2.3294854ch;
}

a#extra:link{
    color: lawngreen;
}

a#extra:visisted{
    color: lime;
}