body{
    background-color: darkseagreen;
}

div#calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52vh;
    border-style: double;
    border-radius: 8.2vh;
    border-width: 2ch;
    border-color: darkolivegreen;
}

div#output_screen{
    height: 30vh;
    
}

div#keypad{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkolivegreen;
    border-bottom-left-radius: 6vh;
    border-bottom-right-radius: 6vh;
}

div.row{
    display: flex;
    flex-direction: row;
    color: lime;
}

div.key{
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

h2#extra{
    font-size: 2.5294854ch;
}