body{
    color: darkolivegreen;
}

div#calc{
    display: flex;
    flex-direction: column;
}

div#keypad{
    display: flex;
    flex-direction: column;
}

div.row{
    display: flex;
    flex-direction: row;
    color: lime;
}

h2#extra{
    font-size: 2.2294854ch;
}