div#calc{
    width: 52vh;
}

div#output_screen{
    min-height: 30vh;
    min-width: 52vh;
    max-width: 52vh;
}



div.key{
    max-height: 25vh;
    width: 5.8vh;
    height: 12vh;
}

div#bottom_left_corner{
    font-size: 2.3294854ch;
}

div#bottom_left_corner:link{
    color: lime;
    font-family: impact;
}

div#bottom_left_corner:visisted{
    color: lime;
}