div#calc{
    width: 52vh;
}

div#output_screen{
    min-height: 30vh;
    min-width: 52vh;
    max-width: 52vh;
}

a#extra{
    font-size: 2.1294854ch;
}

a#extra:link{
    color: lime;
}

a#extra:visited{
    color: lime;
}

div.key{
    width: 5.8vh;
}