body{
    
}

div#calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkolivegreen;
}

div#keypad{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.row{
    display: flex;
    flex-direction: row;
    color: lime;
}

div.key{
    width: 10vh;
    height: 10vh;
}

h2#extra{
    font-size: 2.5294854ch;
}