body{
    background-color: darkseagreen;
    height: 100vh;
    display: flex;
    justify-content: center;
}

div#calc{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52vh;
    border-style: double;
    border-radius: 8.2vh;
    border-width: 2ch;
    border-color: #50554d;
    align-self: center;
}

div#output_screen{
    min-height: 30vh;
    color: lime;
}

div#keypad{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #50554d;
    border-bottom-left-radius: 6vh;
    border-bottom-right-radius: 6vh;
}

div.row{
    display: flex;
    flex-direction: row;
    color: lime;
}

div.key{
    font-size: 2.5ch;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    cursor: pointer;
}

h2#extra{
    font-size: 2.2294854ch;
}