body{
    background-color: darkseagreen;
}

div#calc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#keypad{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkolivegreen;
}

div.row{
    display: flex;
    flex-direction: row;
    color: lime;
}

div.key{
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

h2#extra{
    font-size: 2.5294854ch;
}