div#calc{
    width: 40vh;
}

div#output_screen{
    height: 30vh;
    max-width: 40vh;
    width: 40vh;
}

div.key{
    width: 8.7vh;
}

a#link:link{
    color: lime;
}

a#link:visited{
    color: lime;
}