div#output_screen{
    min-height: 30vh;
}

a.links:link{
    color: lime;
}

a.links:visited{
    color: lime;
}

h2.long{
    font-size: 2.3ch;
}

h2.longer{
    font-size: 2.1ch;
}

h2.longest{
    font-size: 1.8ch;
}